@model Karnel_Travels.Models.About

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class="text-center">Information Abouts US</h2>
<a href="@Url.Action("Index","Abouts")" class="btn btn-info">Manage</a>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AboutName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutLike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutLike)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutImg)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Abouts", new { id = Model.AboutId })" class="btn btn-success">Edit</a>
</p>
