@model IEnumerable<Karnel_Travels.Models.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class="text-center">Abouts US</h2>

<p>
    <a href="@Url.Action("Create", "Abouts")" class="btn btn-info">
        Create
    </a>
</p>
<table class="table table-striped table-bordered" id="tablefillset">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AboutName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutLike)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutImg)
            </th>
            <th></th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AboutName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AboutBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AboutGender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AboutLike)
                </td>
                <td>
                    @if (String.IsNullOrEmpty(item.AboutImg) == false)
                    {
                        <img style="width: 100px" src="@Url.Content(item.AboutImg)" />
                    }
                </td>
                <td>
                    <a href="@Url.Action("UploadImage", "Abouts", new { id = item.AboutId })" class="btn btn-info">
                        <i class="fa fa-image"></i>
                        <span>

                        </span>
                    </a>
                    |
                    <a href="@Url.Action("Edit", "Abouts", new { id = item.AboutId })" class="btn btn-success">
                        <i class="fa fa-pencil"></i>
                        <span>

                        </span>
                    </a>
                    |
                    <a href="@Url.Action("Details", "Abouts", new { id = item.AboutId})" class="btn btn-primary">
                        <i class="fa fa-list-alt"></i>
                        <span>

                        </span>
                    </a>
                    |
                    <a href="@Url.Action("Delete", "Abouts", new { id = item.AboutId})" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                        <span>

                        </span>
                    </a>
                </td>
            </tr>
        }
        </tbody>
</table>
