@model KarnelTravel.Models.Feedback
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="breadcrumb-blog-version-one">
    <div class="single-bredcurms" style="background-image:url('../../Content/User/images/bercums/contact-page.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bredcrums-content">
                        <h2>Contacts</h2>
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li class="active"><a href="@Url.Action("Contact","Contact")">Contacts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- blog breadcrumb version one end here -->
<section class="section-paddings">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="recent">
                    <h3>Send us a message</h3>
                </div>
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                @using (Html.BeginForm(new { @class = "contactForm" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    <div class="form-group">

                        @Html.EditorFor(model => model.SenderName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sender Name" } })
                        @Html.ValidationMessageFor(model => model.SenderName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.SenderMail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.SenderMail, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.FeedBackTitle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Subject" } })
                        @Html.ValidationMessageFor(model => model.FeedBackTitle, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.FeedBackContent, new { htmlAttributes = new { @class = "form-control", @placeholder = "Message" } })
                        @Html.ValidationMessageFor(model => model.FeedBackContent, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-info"><i class="fa fa-send"></i>Send Message</button>
                    </div>

                }
            </div>

            <div class="col-lg-6">

                <div class="recent">
                    <h3>Get in touch with us</h3>
                </div>
                <div class="">
                    <p>A land of staggering natural beauty and cultural complexities, of dynamic megacities and hill-tribe villages, Vietnam is both exotic and compelling.</p>

                    <h4>Address:</h4>Cusc<br>
                    <h4>Telephone:</h4>(+84) 963505927</br>
                    <h4>Fax:</h4>123 456 789
                </div>
            </div>
        </div>
        <br />
        <div class="contact_info">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1168.035120759438!2d105.77910085841124!3d10.034495259022362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0881fa2f86433%3A0xee52427c850bbc0d!2zMSBMw70gVOG7sSBUcuG7jW5nLCBOaW5oIEtp4buBdSwgQ-G6p24gVGjGoSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1519738726079" width="100%" height="250px" frameborder="0" style="border:0" allowfullscreen></iframe>
                <br>
                <small>
                    <!-- <a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px">View Larger Map</a> -->
                </small>
            </div>
        </div>
    </div>

</section>