@model Karnel_Travels.Models.Room

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Room_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room_Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room_Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room_Stop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room_Stop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room_Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room_Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotel.Hotel_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotel.Hotel_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Room_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
