@model IEnumerable<KarnelTravel.Models.Trip>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Trip_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trip_Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trip_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trip_Status)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Trip_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trip_Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trip_Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trip_Status)
                </td>
            
                <td>
                    <a href="@Url.Action("Edit", "Trips", new { id = item.Trip_Id })" class="btn btn-success">
                        <i class="fa fa-pencil"></i>
                        <span>

                        </span>
                    </a>
                    |

                    <a href="@Url.Action("Delete", "Trips", new { id = item.Trip_Id })" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                        <span>

                        </span>
                    </a>
                </td>
                <td>
                    @if (@item.Trip_Status == true)
                    {
                        <button id="@item.Trip_Id" class="btn btn-info" onclick="UpdateStatus(this.id)">@item.Trip_Status</button>
                    }
                    else
                    {
                        <button id="@item.Trip_Id" class="btn btn-danger" onclick="UpdateStatus(this.id)">@item.Trip_Status</button>
                    }
                </td>
            </tr>
        }
        </tbody>
</table>

<script type="text/javascript">
    function UpdateStatus(id) {
        $.ajax({
            url: "/Trips/UpdateStatus",
            data: { id: id },
            type: "POST",
            success: function (data) {
                //$("#"+id).attr("disabled","disabled");
                $("#" + id).prop('disabled', true);//disabled is a property not an attribute
                alert("Update status successful!");
                window.location.reload();
            },
            error: function (e) {
                bootbox.alert(e.responseText);
            }
        });
    }
</script>
