@model IEnumerable<KarnelTravel.Models.Trip>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Trip_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trip_Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trip_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trip_Status)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Trip_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trip_Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trip_Address)
                </td>
                <td style="text-align:center">
                    @if (@item.Trip_Status == true)
                    {
                    <a href="@Url.Action("UpdateStatus", new { id = @item.Trip_Id })" onclick="return confirm('Are you sure update?');" class="btn btn-info">Delivered</a>
                    }
                    else
                    {
                    <a href="@Url.Action("UpdateStatus", new { id = @item.Trip_Id })" onclick="return confirm('Are you sure update?');" class="btn btn-danger">UnDelivered</a>
                    }
                </td>
            
                <td>
                    <a href="@Url.Action("Edit", "Trips", new { id = item.Trip_Id })" class="btn btn-success">
                        <i class="fa fa-pencil"></i>
                        <span>

                        </span>
                    </a>
                    |

                    <a href="@Url.Action("Delete", "Trips", new { id = item.Trip_Id })" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                        <span>

                        </span>
                    </a>
                </td>
                
            </tr>
        }
        </tbody>
</table>
