@model Karnel_Travels.Models.Hotel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}


<h2 class="text-center">Information Hotels</h2>
<a href="@Url.Action("Index","Hotels")" class="btn btn-info">Manage</a>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hotel_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotel_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotel_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotel_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotel_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotel_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TouristSpot.TouristSpot_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TouristSpot.TouristSpot_Name)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Hotels", new { id = Model.Hotel_Id })" class="btn btn-success">Edit</a>
</p>
