@model Karnel_Travels.Models.Location

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location_Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Location_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
