@model IEnumerable<KarnelTravel.Models.Vehicle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class="text-center">Vihicles</h2>

<p>
    <a href="@Url.Action("Create", "Vehicles")" class="btn btn-info">
        Create
    </a>
</p>
<table class="table table-striped table-bordered" id="tablefillset">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle_Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle_Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transportation.Transportation_Name)
            </th>
            <th></th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle_Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle_Img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transportation.Transportation_Name)
            </td>
            <td>
                <a href="@Url.Action("UploadVihicles", "Vehicles", new { id = item.Vehicle_Id })" class="btn btn-info">
                    <i class="fa fa-image"></i>
                    <span>

                    </span>
                </a>
                |
                <a href="@Url.Action("Edit", "Vehicles", new { id = item.Vehicle_Id })" class="btn btn-success">
                    <i class="fa fa-pencil"></i>
                    <span>

                    </span>
                </a>
                |
             
                <a href="@Url.Action("Delete", "Vehicles", new { id = item.Vehicle_Id })" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                    <span>

                    </span>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
