@using KarnelTravel.Models;
@model IEnumerable<TouristSpot>

@{
    ViewBag.Title = "Home Page";
}
@{
    IEnumerable<TouristSpot> TouristSpots1 = ViewBag.TouristSpots1 as IEnumerable<TouristSpot>;
    IEnumerable<Restaurant> Restaurant1 = ViewBag.Restaurant1 as IEnumerable<Restaurant>;
    IEnumerable<Hotel> Hotel1 = ViewBag.Hotel1 as IEnumerable<Hotel>;
}
<section class="slider-area">
    <div class="rev_slider_wrapper">
        <div id="rev_slider_1" class="rev_slider" style="display:none">
            <ul>
                <li data-index="rs-3010" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="images/slider/slider-back-01.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <div class="slider-overlay"></div>
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/User/images/slider/slider-back-01.jpg" alt="Sky" class="rev-slidebg">
                    <!-- BEGIN BASIC TEXT LAYER -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4 title-line-1" data-x="['center', 'center', 'center', 'center']" data-hoffset="0" data-y="center" data-voffset="-150" data-frames='[{"delay":0,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 6; font-size:40px; color:#fff; text-transform:capitalize; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:400;">
                        Open Your Eyes To
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4 title-line-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="-80" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' style="z-index: 6; color:#fff; text-transform:capitalize; font-family:'Poppins', sans-serif; white-space: nowrap;">
                        <h1 style="font-weight:00; font-size:60px;">The Hidden World</h1>
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption font-lora sfb tp-resizeme letter-space-5  header-p1" data-x="center" data-hoffset="0" data-y="center" data-voffset="-5" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' style="z-index: 7; font-size:16px; color:#fff; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:400;">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption font-lora sfb tp-resizeme letter-space-5 header-p2" data-x="center" data-hoffset="0" data-y="center" data-voffset="20" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' style="z-index: 7; font-size:16px; color:#fff; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:400;">
                        vulputate tempus velit nam id purus tellus hendrerit mi dapibus.
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption lfb tp-resizeme  header-btn" data-x="center" data-hoffset="0" data-y="center" data-voffset="120" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' style="z-index: 8;">
                        <a href="@Url.Action("Index","TourisSpot")" class="travel-primary-btn hvr-fade">Start Tour</a>
                    </div>
                </li>
                <!-- first slider end -->
                <li data-index="rs-3047" data-transition="zoomin" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="images/slider/slider-back-04.jpg" data-rotate="0" data-saveperformance="off" data-title="Ken Burns" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <div class="slider-overlay"></div>
                    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                    <img src="~/Content/User/images/slider/slider-back-04.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="0" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- BEGIN BASIC TEXT LAYER -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4 title-line-1" data-x="['center', 'center', 'center', 'center']" data-hoffset="0" data-y="center" data-voffset="-150" data-frames='[{"delay":0,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 6; font-size:40px; color:#fff; text-transform:capitalize; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:400;">
                        Open Your Eyes To
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4 title-line-2" data-x="center" data-hoffset="0" data-y="center" data-voffset="-80" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' style="z-index: 6; color:#fff; text-transform:capitalize; font-family:'Poppins', sans-serif; white-space: nowrap;">
                        <h1 style="font-weight:600; font-size:60px;">The Hidden World</h1>
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption font-lora sfb tp-resizeme letter-space-5  header-p1" data-x="center" data-hoffset="0" data-y="center" data-voffset="-5" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' style="z-index: 7; font-size:16px; color:#fff; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:400;">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption font-lora sfb tp-resizeme letter-space-5 header-p2" data-x="center" data-hoffset="0" data-y="center" data-voffset="20" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' style="z-index: 7; font-size:16px; color:#fff; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:400;">
                        vulputate tempus velit nam id purus tellus hendrerit mi dapibus.
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption lfb tp-resizeme  header-btn" data-x="center" data-hoffset="0" data-y="center" data-voffset="120" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]' style="z-index: 8;">
                        <a href="@Url.Action("Index","TourisSpot")" class="travel-primary-btn hvr-fade">Start Tour</a>
                    </div>
                </li>
                <!-- first slider end -->
            </ul>
        </div> <!-- end slider container -->
    </div> <!-- END end slider container wrapper -->
</section> <!-- slider area end here -->
<section class="tabbased-search-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-menu">
                    <ul class="tab-menu" id="myTab1">
                        <li class="active">
                            <h6><a href="@Url.Action("Index","Hotel")" data-easein="fadeIn">Hotels<img src="~/Content/User/images/icon/hotel.png" alt=""></a></h6>
                        </li>
                        <li>
                            <h6><a href="@Url.Action("Index","TourisSpot")" data-easein="fadeIn">Tour<img src="~/Content/User/images/icon/tour.png" alt=""></a></h6>
                        </li>
                        <li>
                            <h6><a href="@Url.Action("Index","Restaurant")" data-easein="fadeIn">Restaurants<img src="~/Content/User/images/icon/fly.png" alt=""></a></h6>
                        </li>
                        <li>
                            <h6><a href="@Url.Action("Index","Vehicles")" data-easein="fadeIn">Vehicles<img src="~/Content/User/images/icon/car.png" alt=""></a></h6>
                        </li>
                        <li>
                            <h6><a href="#ship" data-easein="fadeIn">Ship<img src="~/Content/User/images/icon/ship.png" alt=""></a></h6>
                        </li>
                    </ul>
                </div> <!-- tab menu end here -->
                <!-- tab content strat here -->
               
            </div>
        </div>
    </div>
</section> <!-- header tab based search area end-->
<section class="popular-packages pb-70 pt-100">
    <div class="container">
        <div class="row">
            @Html.Partial("~/Views/Home/_TourisSpot.cshtml", TouristSpots1)
        </div>
    </div>
</section> <!--end  popular packajge -->

<section class="popular-packages pb-65 pt-90">
    <div class="container">
        <div class="row">
            @Html.Partial("~/Views/Home/_Restaurant.cshtml", Restaurant1)
        </div>
    </div>
</section> <!--end  popular packajge -->

<section class="popular-packages pb-65 pt-90">
    <div class="container">
        <div class="row">
            @Html.Partial("~/Views/Home/_Hotel.cshtml", Hotel1)
        </div>
    </div>
</section> <!--end  popular packajge -->
<!-- testimonial area start here -->
<section class="testimonial-area image-bg-padding-100">
    <div class="testimonial-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title-white text-center mbt-100">
                        <h2>What travellers Say About Us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="custom-width text-center">
                    <!-- start top media -->
                    <div class="top-testimonial-image row slick-pagination">
                        <div class="carousel-images slider-nav">
                            <div>
                                <img src="~/Content/User/images/client/1.jpg" alt="1" class="img-circle">
                            </div>
                            <div>
                                <img src="~/Content/User/images/client/2.jpg" alt="3" class="img-circle">
                            </div>
                            <div>
                                <img src="~/Content/User/images/client/3.jpg" alt="2" class="img-circle">
                            </div>
                            <div>
                                <img src="~/Content/User/images/client/2.jpg" alt="2" class="img-circle">
                            </div>
                            <div>
                                <img src="~/Content/User/images/client/6.jpg" alt="2" class="img-circle">
                            </div>
                        </div>
                    </div>
                </div><!-- end top media images -->
                <div class="block-text row">
                    <div class="carousel-text slider-for col-sm-8 col-sm-offset-2">
                        <div class="testimonial-message">
                            <div class="message">
                                <p>Lorem ipsum dolor sit amet, consecteituer adipiscing eluit, sed diapm nonummy nibhu euismod tincidunt ut laoreet dolor you magna aliquam erat volutpat. Ut wisi enim adefra miniumyp veniam, quis nostrud exerci tation ullavolutpat.</p>
                            </div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="client-bio">
                                <h4>Jhonthan Smith</h4>
                                <span>London Trip Travelers</span>
                            </div>
                        </div> <!-- client testimonial end -->
                        <div class="testimonial-message">
                            <div class="message">
                                <p>Lorem ipsum dolor sit amet, consecteituer adipiscing eluit, sed diapm nonummy nibhu euismod tincidunt ut laoreet dolor you magna aliquam erat volutpat. Ut wisi enim adefra miniumyp veniam, quis nostrud.</p>
                            </div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="client-bio">
                                <h4>Daniel Baci</h4>
                                <span>Thailand Trip Travelers</span>
                            </div>
                        </div> <!-- client testimonial end -->
                        <div class="testimonial-message">
                            <div class="message">
                                <p>Lorem ipsum dolor sit amet, consecteituer adipiscing eluit, sed diapm nonummy nibhu euismod tincidunt ut laoreet dolor you magna aliquam erat volutpat. Ut wisi enim adefra miniumyp veniam, quis nostrud.</p>
                            </div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="client-bio">
                                <h4>John Doe</h4>
                                <span>USA Trip Travelers</span>
                            </div>
                        </div> <!-- client testimonial end -->
                        <div class="testimonial-message">
                            <div class="message">
                                <p>Lorem ipsum dolor sit amet, consecteituer adipiscing eluit, sed diapm nonummy nibhu euismod tincidunt ut laoreet dolor you magna aliquam erat volutpat. Ut wisi enim adefra miniumyp veniam, quis nostrud.</p>
                            </div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="client-bio">
                                <h4>Jhonthan Smith</h4>
                                <span>London Trip Travelers</span>
                            </div>
                        </div>	<!-- client testimonial end -->
                        <div class="testimonial-message">
                            <div class="message">
                                <p>Lorem ipsum dolor sit amet, consecteituer adipiscing eluit, sed diapm nonummy nibhu euismod tincidunt ut laoreet dolor you magna aliquam erat volutpat. Ut wisi enim adefra miniumyp veniam, quis nostrud.</p>
                            </div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="client-bio">
                                <h4>Jhonthan Smith</h4>
                                <span>London Trip Travelers</span>
                            </div>
                        </div> <!-- client testimonial end -->
                        <div class="testimonial-message">
                            <div class="message">
                                <p>Lorem ipsum dolor sit amet, consecteituer adipiscing eluit, sed diapm nonummy nibhu euismod tincidunt ut laoreet dolor you magna aliquam erat volutpat. Ut wisi enim adefra miniumyp veniam, quis nostrud</p>
                            </div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="client-bio">
                                <h4>Jhonthan Smith</h4>
                                <span>London Trip Travelers</span>
                            </div>
                        </div> <!-- client testimonial end -->
                    </div> <!-- /.block-text -->
                </div>
            </div>
        </div>
    </div>
</section> <!-- testimonial area end here -->
<div class="section-paddings incredible-places">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title text-center">
                    <h2>Incredible Places</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum sodales Sed luctus orci vel nibh aliquam laoreet Aenean accumsan</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="single-place">
                <figure>
                    <a href="#">
                        <img src="~/Content/User/images/place/1.jpg" alt="">
                    </a>
                    <figcaption>
                        <h4>Place <span>Eiffel Tower</span></h4>
                        <h4>Caption By: <span>Michel Jusi</span></h4>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- end single place -->
        <div class="col-md-4 col-sm-6">
            <div class="single-place">
                <figure>
                    <a href="#">
                        <img src="~/Content/User/images/place/2.jpg" alt="">
                    </a>
                    <figcaption>
                        <h4>Place <span>China Town</span></h4>
                        <h4>Caption By: <span>Daniel Baci</span></h4>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- end single place -->
        <div class="col-md-4 col-sm-6">
            <div class="single-place">
                <figure>
                    <a href="#">
                        <img src="~/Content/User/images/place/3.jpg" alt="">
                    </a>
                    <figcaption>
                        <h4>Place <span>England Bridge</span></h4>
                        <h4>Caption By: <span>John Adam</span></h4>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- end single place -->
        <div class="col-md-4 col-sm-6">
            <div class="single-place">
                <figure>
                    <a href="#">
                        <img src="~/Content/User/images/place/4.jpg" alt="">
                    </a>
                    <figcaption>
                        <h4>Place <span>Eiffel Tower</span></h4>
                        <h4>Caption By: <span>Michel Jusi</span></h4>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- end single place -->
        <div class="col-md-4 col-sm-6">
            <div class="single-place">
                <figure>
                    <a href="#">
                        <img src="~/Content/User/images/place/5.jpg" alt="">
                    </a>
                    <figcaption>
                        <h4>Place <span>China Town</span></h4>
                        <h4>Caption By: <span>Daniel Baci</span></h4>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- end single place -->
        <div class="col-md-4 col-sm-6">
            <div class="single-place">
                <figure>
                    <a href="#">
                        <img src="~/Content/User/images/place/3.jpg" alt="">
                    </a>
                    <figcaption>
                        <h4>Place <span>England Bridge</span></h4>
                        <h4>Caption By: <span>John Adam</span></h4>
                    </figcaption>
                </figure>
            </div>
        </div> <!-- end single place -->
    </div>
</div> <!-- incredible place end here -->
<section class="section-paddings">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title text-center">
                    <h2>Out trusted partners</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum sodales Sed luctus orci vel nibh aliquam laoreet Aenean accumsan </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- partners images -->
            <div class="partner-slider-active owl-carousel">
                <div class="single-pertner">
                    <div class="partner-image">
                        <a href="#">
                            <img src="~/Content/User/images/partner/1.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="single-pertner">
                    <div class="partner-image">
                        <a href="#">
                            <img src="~/Content/User/images/partner/2.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="single-pertner">
                    <div class="partner-image">
                        <a href="#">
                            <img src="~/Content/User/images/partner/3.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="single-pertner">
                    <div class="partner-image">
                        <a href="#">
                            <img src="~/Content/User/images/partner/4.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="single-pertner">
                    <div class="partner-image">
                        <a href="#">
                            <img src="~/Content/User/images/partner/5.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- partners images -->
        <div class="row">
            <!-- partners images -->
            <div class="partner-slider-active owl-carousel">
                <div class="single-pertner">
                    <div class="partner-image">
                        <a href="#">
                            <img src="~/Content/User/images/partner/1.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="single-pertner">
                    <div class="partner-image">
                        <a href="#">
                            <img src="~/Content/User/images/partner/2.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="single-pertner">
                    <div class="partner-image">
                        <a href="#">
                            <img src="~/Content/User/images/partner/3.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="single-pertner">
                    <div class="partner-image">
                        <a href="#">
                            <img src="~/Content/User/images/partner/4.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="single-pertner">
                    <div class="partner-image">
                        <a href="#">
                            <img src="~/Content/User/images/partner/5.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>	<!-- end partners images -->
    </div>
</section> <!--end partner section -->