@model KarnelTravel.Models.Hotel
@{
    ViewBag.Title = "DetaislHotel";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="breadcrumb-blog-version-one">
    <div class="single-bredcurms" style="background-image:url('../../Content/User/images/bercums/contact-page.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bredcrums-content">
                        <h2>Details</h2>
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li class="active"><a href="@Url.Action("Index","Hotel")">Register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- blog breadcrumb version one end here -->
<section class="section-paddings">
    <div class="container">
        <div class="content-wrapper">
            <div class="item-container">
                <div class="container-fluid">

                    <div class="col-md-12">
                        <div class="product col-md-3 service-image">

                            <center>
                                <img id="item-display" src="~/myImg/Hotels/@Model.ImgHotels.FirstOrDefault().Img_Hotels" alt="" class="img-responsive aligncenter" />
                            </center>
                        </div>

                        <div class="container service1-items col-sm-2 col-md-2 pull-left">
                            <center>
                                @*<a id="item-1" class="service1-item">
                                        <img src="http://www.corsair.com/Media/catalog/product/g/s/gs600_psu_sideview_blue_2.png" alt=""></img>
                                    </a>*@
                                @foreach (var img in Model.ImgHotels.Take(3))
                                {
                                    <a id="item-1" class="service1-item">
                                        <img id="item-display" src="~/myImg/Hotels/@Model.ImgHotels.FirstOrDefault().Img_Hotels" alt="" class="img-responsive aligncenter" />
                                    </a>
                                }
                            </center>
                        </div>
                    </div>


                    <div class="col-md-7">
                        <div class="product-title">@Html.DisplayFor(model => model.Hotel_Name)</div>

                        <div class="product-desc">@Html.DisplayFor(model => model.Hotel_Details)</div>
                       
                      
                        <hr>
                        <div class="btn-group cart">
                            <a href="@Url.Action("Index", "Hotel")" class="btn btn-info">
                                Views More
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-12 product-info">
                    <ul id="myTab" class="nav nav-tabs nav_tabs">

                        <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
                        <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>
                        <li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>

                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="service-one">

                            <section class="container product-info">
                                @Html.DisplayFor(model => model.Hotel_Details)
                            </section>

                        </div>
                        <div class="tab-pane fade" id="service-two">

                            <section class="container">
                           

                            </section>

                        </div>
                        <div class="tab-pane fade" id="service-three">

                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>


<link href="~/Content/User/myStyle.css" rel="stylesheet" />