@model IEnumerable<KarnelTravel.Models.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class="text-center">About Us</h2>

<p>
    <a href="@Url.Action("Create", "Abouts")" class="btn btn-info">
        Create
    </a>
</p>
<table class="table table-striped table-bordered" id="tablefillset">
    <thead>
        <tr>
            <th ></th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.AboutName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.AboutGender)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.AboutLike)
            </th>
            <th class="text-center"> Method</th>
            <th class="text-center"></th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-center">
                @if (String.IsNullOrEmpty(item.AboutImg) == false)
                {
                    <img style="width: 100px" src="@Url.Content(item.AboutImg)" />
                }
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.AboutName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.AboutGender)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.AboutLike)
            </td>
            <td class="text-center">
                <a href="@Url.Action("UploadAbout", "Abouts", new { id = item.AboutId })" class="btn btn-info">
                    <i class="fa fa-image"></i>
                    <span>

                    </span>
                </a>
                |
                <a href="@Url.Action("Edit", "Abouts", new { id = item.AboutId })" class="btn btn-success">
                    <i class="fa fa-pencil"></i>
                    <span>

                    </span>
                </a>
                |
                <a href="@Url.Action("Delete", "Abouts", new { id = item.AboutId })" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                    <span>

                    </span>
                </a>
            <td>
                @if (@item.AboutGender == true)
                {
                    <button id="@item.AboutId" class="btn btn-info" onclick="UpdateStatus(this.id)">@item.AboutGender</button>
                }
                else
                {
                    <button id="@item.AboutId" class="btn btn-danger" onclick="UpdateStatus(this.id)">@item.AboutGender</button>
                }
            </td>
        </tr>
        }
        </tbody>
</table>

<script type="text/javascript">
    function UpdateStatus(id) {
        $.ajax({
            url: "/Abouts/UpdateStatus",
            data: { id: id },
            type: "POST",
            success: function (data) {
                //$("#"+id).attr("disabled","disabled");
                $("#" + id).prop('disabled', true);//disabled is a property not an attribute
                alert("Cập nhật status thành công!");
                window.location.reload();
            },
            error: function (e) {
                bootbox.alert(e.responseText);
            }
        });
    }
</script>
