@model Karnel_Travels.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Bithday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Bithday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Possport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Possport)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Customer_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
