@model IEnumerable<Karnel_Travels.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class="text-center">Customer</h2>

<p>
    <a href="@Url.Action("Create", "Products")" class="btn btn-info">
        Create
    </a>
</p>
<table class="table table-striped table-bordered" id="tablefillset">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer_LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Bithday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Possport)
            </th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_Bithday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_Possport)
                </td>
                <td>
                    <a href="@Url.Action("UploadVihicles", "Products", new { id = item.Customer_Id })" class="btn btn-info">
                        <i class="fa fa-image"></i>
                        <span>

                        </span>
                    </a>
                    |
                    <a href="@Url.Action("Edit", "Vihicles", new { id = item.Customer_Id })" class="btn btn-success">
                        <i class="fa fa-flash"></i>
                        <span>

                        </span>
                    </a>
                    |
                    <a href="@Url.Action("Details", "Vihicles", new { id = item.Customer_Id })" class="btn btn-primary">
                        <i class="fa fa-list-alt"></i>
                        <span>

                        </span>
                    </a>
                    |
                    <a href="@Url.Action("Delete", "Vihicles", new { id = item.Customer_Id})" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                        <span>

                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
