@model IEnumerable<KarnelTravel.Models.Transportation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Management/Views/Shared/_AdministratorLayout.cshtml";
}

<h2 class="text-center">Transportations</h2>

<p>
    <a href="@Url.Action("Create", "Transportations")" class="btn btn-info">
        Create
    </a>
</p>
<table class="table table-striped table-bordered" id="tablefillset">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transportation_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transportation_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transportation_Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transportation_Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TouristSpot.TouristSpot_Name)
            </th>
            <th></th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Transportation_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transportation_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transportation_Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transportation_Img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TouristSpot.TouristSpot_Name)
            </td>
            <td>
                <a href="@Url.Action("UploadTransportations", "Transportations", new { id = item.Transportation_Id })" class="btn btn-info">
                    <i class="fa fa-image"></i>
                    <span>

                    </span>
                </a>
                |
                <a href="@Url.Action("Edit", "Transportations", new { id = item.Transportation_Id })" class="btn btn-success">
                    <i class="fa fa-pencil"></i>
                    <span>

                    </span>
                </a>
                |

                <a href="@Url.Action("Delete", "Transportations", new { id = item.Transportation_Id })" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                    <span>

                    </span>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
