<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="TRABBLE - Tour, Travel, Travel Agency Template">
    <meta name="keywords" content="Tour, Travel, Travel Agency Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karnel - Travels</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/User/images/favicon.ico">

    <!-- bootstrap css -->
    <link href="~/Content/User/css/bootstrap.min.css" rel="stylesheet" />

    <!-- animate css -->
    <link rel="stylesheet" href="~/Content/User/css/animate.css">
    <!-- Button Hover animate css -->
    <link rel="stylesheet" href="~/Content/User/css/hover-min.css">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="~/Content/User/css/jquery-ui.min.css">
    
    <!-- meanmenu css -->
    <link rel="stylesheet" href="~/Content/User/css/meanmenu.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="~/Content/User/css/owl.carousel.min.css">
    <!-- slick css -->
    <link rel="stylesheet" href="~/Content/User/css/slick.css">
    <!-- chosen.min-->
    <link rel="stylesheet" href="~/Content/User/css/chosen.min.css">
    <!-- chosen.min-->
    <link rel="stylesheet" href="~/Content/User/css/jquery-customselect.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="~/Content/User/css/font-awesome.min.css">
    <!-- magnific Css -->
    <link rel="stylesheet" href="~/Content/User/css/magnific-popup.css">
    <!-- Revolution Slider -->
    <link rel="stylesheet" href="~/Content/User/css/assets/revolution/layers.css">
    <link rel="stylesheet" href="~/Content/User/css/assets/revolution/navigation.css">
    <link rel="stylesheet" href="~/Content/User/css/assets/revolution/settings.css">
    <!-- custome css -->
    <link rel="stylesheet" href="~/Content/User/css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="~/Content/User/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/Content/User/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <header>
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="header-top-left">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <ul class="header-top-contact">
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>Seventh Avenue New York</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>+123-456-7890</li>
                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i>info@trabble.com</li>
                            </ul>
                        </div>
                    </div>
                    @if (Session["username"] == null)
                    {
                        <div class="header-top-right text-right">
                            <div class="col-md-3 col-xs-12 book-tab">
                                @*<div class="book-btn">
                                    <a href="@Url.Action("LoginU","LoginUser")">Login</a>
                                </div>*@
                                <div class="book-btn">
                                    <a href="@Url.Action("XemGioHang", "Cart")">Gio Hang Cua Ban</a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="header-top-right text-right">
                            <div class="col-md-3 col-xs-12 book-tab">
                                @*<div class="book-btn">
                                    <a href="#">Xin chào @Session["username"]</a>
                                </div>*@
                                <div class="book-btn">
                                    <a href="@Url.Action("XemGioHang", "Cart")">Gio Hang Cua Ban</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div> <!-- header top end -->
        <div class="header-bottom-area" id="stick-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12 tap-v-responsive">
                        <div class="logo-area">
                            <a href="@Url.Action("Index","Home")">
                                <img src="~/Content/User/images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <nav>
                            <ul class="main-menu text-right">
                                <li class="active">
                                    <a href="@Url.Action("Index","Home")">Home</a>

                                </li>
                                <li>
                                    <a href="#">Hotels</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="@Url.Action("Index","Hotel")">Hotel One</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Restaurant")">Restaurants</a>
                                </li>
                                <li>
                                    <a href="#">Abouts</a>

                                </li>
                                <li>
                                    <a href="@Url.Action("Register","Register")">Registers</a>
                                </li>
                                @if (@Session["username"] == null)
                                {
                                    <li>
                                        <a href="@Url.Action("LoginU", "LoginUser")">Sign In</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action("LogOff", "LoginUser")">Sign Out</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("LoginU", "LoginUser")">Xin Chào,@Session["username"] </a>
                                    </li>
                                }
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div> <!-- main menu end here -->
                </div>
            </div>
        </div> <!-- header-bottom area end here -->
    </header> <!-- header area end here -->
    <!-- slider area start here -->
    @RenderBody()

    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <!-- footer left -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer">
                        <div class="footer-title">
                            <a href="#">
                                <img src="~/Content/User/images/logo.png" alt="">
                            </a>
                        </div>
                        <div class="footer-left">
                            <div class="footer-logo">
                                <p>Lorem ipsum dolor sit amet conset ctetur adipiscin elit Etiam at ipsum at ligula vestibulum sodales.</p>
                            </div>
                            <ul class="footer-contact">
                                <li><img class="map" src="~/Content/User/images/icon/map.png" alt="">Seventh Avenue New York</li>
                                <li><img class="map" src="~/Content/User/images/icon/phone.png" alt="">+123-456-7890</li>
                                <li><img class="map" src="~/Content/User/images/icon/gmail.png" alt="">info@yourcompany.com</li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- footer left -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer">
                        <div class="single-recent-post">
                            <div class="footer-title">
                                <h3>Recent News</h3>
                            </div>
                            <ul class="recent-post">
                                <li>
                                    <a href="#">
                                        <div class="post-thum">
                                            <img src="~/Content/User/images/blog/f4.jpg" alt="" class="img-rounded">
                                        </div>
                                        <div class="post-content">
                                            <p>
                                                A Clean Website Gives More Experience To The Visitors.
                                            </p>
                                            <span>12 July, 2018</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="post-thum">
                                            <img src="~/Content/User/images/blog/f5.jpg" alt="" class="img-rounded">
                                        </div>
                                        <div class="post-content">
                                            <p>
                                                A Clean Website Gives More Experience To The Visitors.
                                            </p>
                                            <span>12 July, 2018</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="post-thum">
                                            <img src="~/Content/User/images/blog/f6.jpg" alt="" class="img-rounded">
                                        </div>
                                        <div class="post-content">
                                            <p>
                                                A Clean Website Gives More Experience To The Visitors.
                                            </p>
                                            <span>12 July, 2018</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>	<!-- footer latest news -->
                <!-- footer destination -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer">
                        <div class="footer-title">
                            <h3>Destination</h3>
                        </div>
                        <ul class="footer-gallery">
                            <li>
                                <a href="#">
                                    <div class="image-overlay">
                                        <img src="~/Content/User/images/destination/1.jpg" alt="">
                                        <div class="overly-city">
                                            <span>Austrila</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="image-overlay">
                                        <img src="~/Content/User/images/destination/2.jpg" alt="">
                                        <div class="overly-city">
                                            <span>England</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="image-overlay">
                                        <img src="~/Content/User/images/destination/3.jpg" alt="">
                                        <div class="overly-city">
                                            <span>France</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="image-overlay">
                                        <img src="~/Content/User/images/destination/4.jpg" alt="">
                                        <div class="overly-city">
                                            <span>America</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>	<!-- footer destination -->
                <!-- footer contact -->
                <div class="col-md-3 col-sm-6 f-phone-responsive">
                    <div class="single-footer">
                        <div class="footer-title">
                            <h3>Quick Contact</h3>
                        </div>
                        <div class="footer-contact-form">
                            <form action="#">
                                <ul class="footer-form-element">
                                    <li>
                                        <input type="text" name="email" id="email" placeholder="" value="Email Address" onblur="if(this.value==''){this.value='Email Address'}" onfocus="if(this.value=='Email Address'){this.value=''}">
                                    </li>
                                    <li>
                                        <textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                    </li>
                                    <li>
                                        <button>Send</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <div class="footer-social-media">
                            <div class="social-footer-title">
                                <h3>Follow Us</h3>
                            </div>
                            <ul class="footer-social-link">
                                <li class="facebook">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="twitter">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="linkedin">
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li class="gplus">
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li class="youtube">
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>	<!-- footer contact -->
            </div>
            <div class="row">
                <div class="footer-bottom">
                    <div class="col-md-5">
                        <div class="copyright">
                            <p>Copyright &copy; 2018 Trabble By <a href="#"><span>SylTheme</span></a></p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <ul class="payicon pull-right">
                            <li>We Accept</li>
                            <li><img src="~/Content/User/images/payicon01.png" alt=""></li>
                            <li><img src="~/Content/User/images/payicon02.png" alt=""></li>
                            <li><img src="~/Content/User/images/payicon03.png" alt=""></li>
                            <li><img src="~/Content/User/images/payicon04.png" alt=""></li>
                            <li><img src="~/Content/User/images/payicon05.png" alt=""></li>
                            <li><img src="~/Content/User/images/payicon06.png" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer> <!-- end footer -->
    <div class="to-top pos-rtive">
        <a href="#"><i class="fa fa-angle-up"></i></a>
    </div><!-- Scroll to top-->
    <!-- ============================
            JavaScript Files
    ============================= -->
    <!-- jquery -->
    <script src="~/Content/User/js/vendor/jquery-3.2.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Content/User/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="~/Content/User/js/owl.carousel.min.js"></script>
    <!-- slick js -->
    <script src="~/Content/User/js/slick.min.js"></script>
    <!-- meanmenu js -->
    <script src="~/Content/User/js/jquery.meanmenu.min.js"></script>
    <!-- jquery-ui js -->
    <script src="~/Content/User/js/jquery-ui.min.js"></script>
    <!-- wow js -->
    <script src="~/Content/User/js/wow.min.js"></script>
    <!-- counter js -->
    <script src="~/Content/User/js/jquery.counterup.min.js"></script>
    <!-- Countdown js -->
    <script src="~/Content/User/js/jquery.countdown.min.js"></script>
    <!-- waypoints js -->
    <script src="~/Content/User/js/jquery.waypoints.min.js"></script>
    <!-- Isotope js -->
    <script src="~/Content/User/js/isotope.pkgd.min.js"></script>
    <!-- magnific js -->
    <script src="~/Content/User/js/jquery.magnific-popup.min.js"></script>
    <!-- Image loaded js -->
    <script src="~/Content/User/js/imagesloaded.pkgd.min.js"></script>
    <!-- chossen js -->
    <script src="~/Content/User/js/chosen.jquery.min.js"></script>
    <!-- Revolution JS -->
    <script src="~/Content/User/js/assets/revolution/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/User/js/assets/revolution/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/User/js/assets/revolution/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Content/User/js/assets/revolution/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Content/User/js/assets/revolution/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Content/User/js/assets/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Content/User/js/assets/revolution/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Content/User/js/assets/revolution/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Content/User/js/assets/revolution/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Content/User/js/assets/revolution/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Content/User/js/assets/revolution/extensions/revolution.extension.video.min.js"></script>
    <script src="~/Content/User/js/assets/revolution/revolution.js"></script>
    <!-- plugin js -->
    <script src="~/Content/User/js/plugins.js"></script>
    <!-- select2 js -->
    <script src="~/Content/User/js/select2.min.js"></script>
    <script src="~/Content/User/js/colors.js"></script>
    <!-- customSelect Js -->
    <script src="~/Content/User/js/jquery-customselect.js"></script>
    <!-- custom js -->
    <script src="~/Content/User/js/custom.js"></script>
</body>
@RenderSection("scripts", required: false)
</html>
