@model Karnel_Travels.Models.TouristSpot

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TouristSpot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TouristSpot_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TouristSpot_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TouristSpot_Specific)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TouristSpot_Specific)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TouristSpot_Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TouristSpot_Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Location_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Location_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TouristSpot_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
