@model IEnumerable<Karnel_Travels.Models.TouristSpot>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TouristSpot_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TouristSpot_Specific)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TouristSpot_Img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.Location_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TouristSpot_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TouristSpot_Specific)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TouristSpot_Img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Location_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TouristSpot_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.TouristSpot_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TouristSpot_Id })
        </td>
    </tr>
}

</table>
