@model KarnelTravel.Models.Trip
@{
    ViewBag.Title = "ConfirmCheckOut";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<section class="breadcrumb-blog-version-one">
    <div class="single-bredcurms" style="background-image:url('../../Content/User/images/bercums/contact-page.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bredcrums-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- blog breadcrumb version one end here -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <section class="section-paddings">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Endnavbar -->
                        <div class="content-bottom">
                            <form class="form-horizontal alignleft" role="form" method="post">
                                <fieldset>
                                    <legend style="text-align:center">Confirm CheckOut</legend>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Trip_Name, "Name" ,htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Trip_Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Trip_Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Trip_Details,"Phone" ,htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Trip_Details, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Trip_Details, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Trip_Address, "Address",htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Trip_Address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Trip_Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Confirm Checkout" class="btn btn-danger" />
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}