@using KarnelTravel.Models
@model List<ItemGioHang>
@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<section class="breadcrumb-blog-version-one">
    <div class="single-bredcurms" style="background-image:url('../../Content/User/images/bercums/contact-page.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="bredcrums-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog breadcrumb version one end here -->
@if (Model == null || Model.Count == 0)
{
    <div style="background-color:antiquewhite">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <p class="text-info text-center">
            Empty cart!!!
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
}
else
{
    <section class="section-paddings">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="content-bottom">
                        <div class="row">
                            <div class="col-sm-12 col-md-10 col-md-offset-1">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th class="text-center">Price</th>
                                            <th class="text-center">Total</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ItemGioHang item in Model)
                                        {
                                            <tr>
                                                <td class="col-sm-8 col-md-6">
                                                    <div class="media">
                                                        <a class="thumbnail pull-left" href="#">
                                                            <span class="ion-card" style="font-size: 40pt; padding: 0px 13px;">
                                                                <img src="~/myImg/TouristSpot/@item.ImgTouris.FirstOrDefault().Img_TouristSpot" width="50" height="50" />
                                                            </span>
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading"><a href="#" style="text-decoration: none;">@item.TouristSpot_Name</a></h4>
                                                            <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                                            <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="col-sm-1 col-md-1" style="text-align: center">
                                                    <form action="@Url.Action("SuaSoLuong")" method="get">
                                                        <input type="hidden" name="TouristSpotId" value="@item.TouristSpot_Id" />
                                                        <input type="number" min="1" step="1" name="soluongmoi" value="@item.TourisQty" />
                                                        <button type="submit" class="btn btn-primary btn-sm"> Update </button>
                                                    </form>
                                                </td>
                                                <td class="col-sm-1 col-md-1 text-center"><strong>$@item.TouristSpot_Price</strong></td>
                                                <td class="col-sm-1 col-md-1 text-center"><strong>$@item.ThanhTien</strong></td>
                                                <td class="col-sm-1 col-md-1">
                                                        <a href="@Url.Action("XoaKhoiGio", new { TouristSpotId = @item.TouristSpot_Id })" onclick="return confirm('Are you sure Delete Tour?');" class="btn btn-danger fa fa-trash">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td>   </td>
                                            <td>   </td>
                                            <td>   </td>
                                            <td>
                                                <h3>Total</h3>
                                            </td>
                                            <td class="text-right">
                                                <h3><strong>$@Model.Sum(m => m.ThanhTien)</strong></h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>   </td>
                                            <td>   </td>
                                            <td>   </td>
                                            <td>
                                                <div>
                                                    @using (Html.BeginForm("ConfirmCheckOut_Post", "Cart"))
                                                    {
                                                        if (@Session["username"] == null)
                                                        {
                                                            <a class="btn btn-danger" href="@Url.Action("LoginCart", "LoginUser")">Check Out</a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-danger" href="@Url.Action("ConfirmCheckOut", "Cart")">Check Out</a>
                                                        }
                                                    }

                                                </div>
                                            </td>
                                            <td><a class="btn btn-primary" href="@Url.Action("Index", "Home")">Continue shopping</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


}
